__pycache__/
*.pyc
*.pyo
*.exe
dist/
build/
*.spec
test_*.py
audit_*.py
robox-cura-package/*.exe
AutoMaker/
AutoMakerOS/
CELTechCore/
Configuration/
Language/
Licence/
Robox-Firmware/
RoboxBase/
Stenographer/
